@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');


body, .v-application {
    font-family: 'Barlow', sans-serif;

}


.title {
    font-size: 1em;
    text-align: center
}

input {
    margin-top: -10px;
}

.v-slider__thumb{
    cursor: pointer;
}

h1 {

    width: 70%;
    margin: 0 auto;
    color: #0D2451;
}

.number {
    font-size: 4rem;
    color:#0D2451;
}

.text,
p {
    font-size: 2em;
    color: #4A5B7D;
}

.highlight {
    color: #4A5B7D;
    font-size: .8rem;
    text-align: center;
}



.main-title {
    margin-top: 20px;
    width: 100%
}

.small-tx h3{
    font-weight: lighter;
    text-align: center;
    color: #0D2451;
}
.small-tx .text{
    color: #0D2451;
    font-size: 1rem;
}
.small-tx .days{
    text-align: center;
    color: #0D2451;
}
.small-tx .number{
    font-weight: 700;
    text-align: center;
    color: #0D2451;
}
.small-tx p{
    font-size: 1rem;
    text-align: center;
    color: #4A5B7D;
}


